{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/login') }}
{%  endblock %}

{% block body %}
    {% include '_layouts/header.html.twig' %}

    <div class="hero" style="background-image: url({{ asset('build/img/' ~ heroImgName) }}"></div>

    <section class="section">
        <div class="main-content">
            <div class="sub-big">
                {% include '_layouts/navigation-infos.html.twig' %}

                <p>Pour vous connecter à votre espace utilisateur,</p>
                <a class="btn btn-light" href="{{ path('app_register') }}">Créer un compte</a>

                <p>ou saisissez vos identifiants :</p>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <label for="inputEmail">Adresse email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
            <div class="sub-medium">
                <h3 class="title">S'abonner <span>à ma lettre mensuelle</span></h3>
                <p class="text">Restez informés, une fois par mois, de mon activité et des prochains rendez-vous à reserver.</p>
{#                TODO Créer et ajouter le composant d'inscription à la newsletter, ne pas oublier de mettre un if app.user (voir ci-dessus) pour donner la possiblité de se désinscrire #}
            </div>
        </div>
    </section>

    {% include '_layouts/footer.html.twig' %}
{% endblock %}
