{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/login') }}
{%  endblock %}

{% block body %}
{#    TODO remettre si besoin d'utilisateurs !!! #}
    {% include '_layouts/header.html.twig' %}

    <div class="hero" style="background-image: url({{ asset('build/img/' ~ heroImgName) }}"></div>


    <section class="section">
        <div class="main-content">
            <div class="sub-big">
                {% include '_layouts/navigation-infos.html.twig' %}

                <h2>Créer un compte utilisateur</h2>

                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                {{ form_start(registrationForm, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'form'
                    }
                }) }}
                <div class="error">
                    {{ form_errors(registrationForm) }}
                </div>

                <div class="form-group" data-children-count="1">
                    {{ form_label(registrationForm.firstName) }}
                    <div class="error">
                        {{ form_errors(registrationForm.firstName) }}
                    </div>
                    {{ form_widget(registrationForm.firstName) }}
                </div>

                <div class="form-group" data-children-count="1">
                    {{ form_label(registrationForm.lastName) }}
                    <div class="error">
                        {{ form_errors(registrationForm.lastName) }}
                    </div>
                    {{ form_widget(registrationForm.lastName) }}
                </div>

                <div class="form-group" data-children-count="1">
                    {{ form_label(registrationForm.email) }}
                    <div class="error">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    {{ form_widget(registrationForm.email) }}
                </div>

                <div class="form-group" data-children-count="1">
                    {{ form_label(registrationForm.plainPassword) }}
                    <div class="error">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    {{ form_widget(registrationForm.plainPassword) }}
                </div>

                <div class="form-group" data-children-count="1">
{#                    TODO ajouter un lien vers les conditions du site #}
                    {{ form_label(registrationForm.agreeTerms) }}
                    <div class="error">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                    {{ form_widget(registrationForm.agreeTerms) }}
                </div>

                <div class="form-group" data-children-count="1">
                    {{ form_row(registrationForm.submit) }}
                </div>
                {{ form_end(registrationForm) }}



                {#    {% include '_layouts/error-special-page.html.twig' with {#}
                {#        'specialErrorMessage': 'Cette fonctionnalité n\'existe pas pour le moment.'#}
                {#        }#}
                {#    %}#}
            </div>
            <div class="sub-medium">
                <h3 class="title">S'abonner <span>à ma lettre mensuelle</span></h3>
                <p class="text">Restez informés, une fois par mois, de mon activité et des prochains rendez-vous à reserver.</p>
                {#                TODO Créer et ajouter le composant d'inscription à la newsletter, ne pas oublier de mettre un if app.user (voir ci-dessus) pour donner la possiblité de se désinscrire #}
            </div>
        </div>
    </section>
{% endblock %}
