<div class="content-navigation">
    <h2 class="title">{{ contentNavigation.title }}</h2>

    {% if contentNavigation.categories is defined %}
        {%  for category in contentNavigation.categories %}
            <div class="category">
                {%  if category.linkAddSlug is defined %}
                <a href="{{ path(category.link, {slug: category.linkAddSlug}) }}"
                {% else %}
                <a href="{{ path(category.link) }}"
                {% endif %}
                    class="link category-link
                    {% if content.page is defined and content.page == category.name %}
                        selected
                    {% endif %}
                    "
                >
                    {{ category.name }}
                </a>
                {% if category.links is defined %}
                {% for element in category.links %}
                    {% if category.urlPathForLinks is defined %}
                    <a href="{{ path(category.urlPathForLinks, {categorySlug: category.linkAddSlug, elementSlug: element.slug}) }}"
                    {% else %}
                    <a href="{{ path(category.link, {slug: element.slug}) }}"
                    {% endif %}
                        class="link
                        {% if content.slug is defined and element.slug == content.slug %}
                             selected
                        {% endif %}
                        "
                    >
                        {{ element.title }}
                    </a>
                {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% elseif contentNavigation.specialLinks is defined %}
        {% for link in contentNavigation.specialLinks %}
            <a href="{{ path(link.urlPath) }}"
                class="link
                {% if link.urlPath starts with contentNavigation.inUseRegex %}
                    selected
                {% endif %}
                "
           >
                {{ link.label }}
            </a>
        {% endfor %}
    {% else %}
        {% set subLink = contentNavigation.subLink %}
        {% for element in contentNavigation.links %}
            <a href="{{ path(subLink, {slug: element.slug}) }}"
                class="link
                {% if content.slug is defined and element.slug == content.slug %}
                    selected
                {% endif %}
                "
            >
                {{ element.title }}
            </a>
        {% endfor %}
    {% endif %}
</div>
