<div class="navigation-infos">
    {% for navigationInfo in navigationInfos %}
        {% if navigationInfo.slug is defined %}
            {%  if navigationInfo.categorySlug is defined %}
            <a href="{{ path(navigationInfo.urlPath, {categorySlug: navigationInfo.categorySlug, elementSlug: navigationInfo.slug}) }}"
            {% else %}
            <a href="{{ path(navigationInfo.urlPath, {slug: navigationInfo.slug}) }}"
            {% endif %}
                class="disabled"
            >
                {{ navigationInfo.text }}
            </a>
        {% else %}
            <a href="{{ path(navigationInfo.urlPath) }}"
                {% if loop.last %} class="disabled"{% endif %}
            >{{ navigationInfo.text }}</a>
        {% endif %}
        {% if not loop.last %}
            <span>/</span>
        {% endif %}
    {% endfor %}
    <div class="separator"></div>
</div>


